<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
    <meta name="Cache-Control" content="private">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="//static.quimg.com/global/dist/styles.css">
  </head>
  <body>
    <div id="global"></div>
    <div id="app"></div>

    <script type="text/javascript" src="//static.quimg.com/global/dist/index.js"></script>
  </body>
</html>
