<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <!-- UC强制全屏 --> 
    <meta name="full-screen" content="yes">
    <!-- UC应用模式 --> 
    <meta name="browsermode" content="application">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    
    <title>我行定制游</title>
  </head>
  <body>
    <div id="app"></div>
    <!-- 列表页添加-网易客服咨询 -->
    <script src="https://qiyukf.com/script/362bd64ce41819fafed538765a378970.js"></script>
    <script>
      if( ysf ) {
        ysf.on({
          onload: function() {
            ysf.config({
              groupid: 955150
            });
          }
        });
      }
    </script>
    <!-- built files will be auto injected -->
  </body>
</html>
